 
  <div class="container_fanpage">         
  <h3>FANPAGES</h3>
    <table id="gridFanpage" class="table table-condensed table-hover table-striped">
      <thead>
        <tr>
          <th data-column-id="id" data-type="numeric" data-identifier="true" data-width="10%">Id</th>
          <th data-column-id="objectId">ObjectId</th>
          <th data-column-id="icon" data-formatter="icon">Icon</th>
          <th data-column-id="name">Name</th>
          <th data-column-id="about">About</th>
          <th data-column-id="images" data-formatter="images">Images</th>
          <th data-column-id="cover" data-formatter="cover">Cover</th>   
          <th data-column-id="commands" data-formatter="commands" data-sortable="false">Commands</th>       
        </tr>
      </thead>
    </table>    
    </div>
    <div id="edit_modal_fanpage" class="modal fade">
    <div class="modal-dialog" >
        <div class="modal-content">            
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 id="fanpage_title" class="modal-title"></h4>
            </div>
            <div class="modal-body">
                <form method="post" id="frm_edit">                                    
                  <div class="form-group">
                    <label for="name" class="control-label">Name:</label>
                    <input type="text" class="form-control" id="edit_name" name="edit_name"/>
                  </div>
                  <div class="form-group">
                    <label for="salary" class="control-label">About:</label>
                    <input type="text" class="form-control" id="edit_about" name="edit_about"/>
                  </div>
                   <div class="form-group">
                    <label for="name" class="control-label">Order:</label>
                    <select name="edit_order_fanpage" id="edit_order_fanpage"></select>                      
                  </div>
                  <div class="form-group">
                    <label for="name" class="control-label">Icon:</label>   
                    <img id="img_icon_fanpage" height="60" width="60"/>                                                        
                    <input id="input_icon_fanpage" type="file"></input>
                  </div>
                  <div class="form-group">
                    <label for="name" class="control-label">Cover:</label>
                    <img id="img_cover_fanpage" height="60" width="120"/>                                                        
                    <input id="input_cover_fanpage" type="file"></input>                    
                  </div>                  
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                <button type="button" id="btn_edit_fanpages" class="btn btn-primary">Save</button>
            </div>
            </form>
        </div>
      </div>
    </div>

    <div id="edit_modal_album" class="modal fade">
    <div class="modal-dialog" >
        <div class="modal-content">            
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 id="fanpage_title" class="modal-title"></h4>
            </div>
             <div class="form-group">
              <label for="name" class="control-label">Name:</label>
              <input type="text" class="form-control" id="edit_album_name" name="edit_album_name"/>
            </div>
            <div class="modal-body">
                <form method="post" id="frm_edit">                                    
                  <div class="form-group">
                    <label for="name" class="control-label">Images:</label>
                    <div id="images_countainer"/>
                  </div>
                  <div class="form-group">              
                    <input id="input_album_fanpage" type="file"></input>
                  </div>                                  
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                <button type="button" id="save_albums_container" class="btn btn-primary">Save</button>
            </div>
            </form>
        </div>
      </div>
    </div>
    
  </div>
