 
  <div class="videos_category">         
  <h3>VIDEOS</h3>
    <table id="gridVideos" class="table table-condensed table-hover table-striped">
      <thead>
        <tr>
          <th data-column-id="id" data-type="numeric" data-identifier="true">ID</th>
          <th data-column-id="objectId">ObjectId</th>
          <th data-column-id="thumbnail" data-formatter="thumbnail">Thumbnail</th>
          <th data-column-id="title">Title</th>
          <th data-column-id="description">Description</th>
          <th data-column-id="source" data-formatter="source">Source</th>   
          <th data-column-id="commands" data-formatter="commands" data-sortable="false">Commands</th>       
        </tr>
      </thead>
    </table>    
    </div>
    <div id="edit_model_video" class="modal fade">
    <div class="modal-dialog" >
        <div class="modal-content">            
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 id="video_title" class="modal-title"></h4>
            </div>
            <div class="modal-body">
                <form method="post" id="frm_edit_video">                  
                  <div class="form-group">
                    <label for="youtube_video" class="control-label">Youtube Video url:</label>
                    <input type="text" class="form-control" id="edit_youtube_video_id" name="edit_youtube_video_id"/>
                    <button type="button" id="edit_youtube_check" name="edit_youtube_check">Check</button>                    
                  </div> 
                  <div class="form-group">
                    <label for="title" class="control-label">Title:</label>
                    <input type="text" class="form-control" id="edit_title_video" name="edit_title_video"/>
                  </div>
                  <div class="form-group">
                    <label for="description" class="control-label">Description:</label>
                    <input type="text" class="form-control" id="edit_description_video" name="edit_description_video"/>
                  </div>
                  <div class="form-group">
                    <label for="name" class="control-label">Order:</label>
                    <select name="edit_order_video" id="edit_order_video"></select>                      
                  </div>
                  
                  <div class="form-group">
                    <label for="name" class="control-label">Thumbnail:</label>                    
                    <img id="img_thumbnail_video" height="60" width="120"/>                 
                    <input id="input_thumb_image_video" type="file"></input>                   
                  </div>  
                  
                  <div class="form-group">
                    <label for="frm_edit_video" class="control-label">Also apply to:</label>      
                    <div id="schools_viewed_videos"></div>                                    
                  </div>

                  <div class="modal-footer">
                    <label id="error_message"></label>                
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    <button type="button" id="btn_edit_video" class="btn btn-primary">Save</button>           
                  </div>

            </form>
        </div>
      </div>
    </div>
  </div>
